.generalFooter{
  background: #0e0e0e;
}

.containerFooter {
  height: 400px;
  color: white;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  padding: 50px;
}

.datosContactoFooter{
  margin-top: 10px;
  display: flex;
  gap: 30px;
  color: white;
  text-decoration: none;
}

.datosContactoFooter .font-icon{
  color: white;
}

.emailFooter,
.datosPaginaFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datosPaginaFooter {
  gap: 8px;
}

.datosPaginaFooter h5 {
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
}

.datosPaginaFooter p {
  width: 70%;
}

.email {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.emailFooter p {
  color: var(--969696, #969696);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.emailFooter input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;
}

.masInfoFooter{
  display: flex;
  gap: 40px;
}

.masInfoFooter ul li{
  list-style-type: none;
  position: relative;
  width: fit-content;
}

.masInfoFooter li:before {
  content: "-"; 
  margin-right: 0.5em; 
}

.masInfoFooter li:hover span{
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 700px) {
  .containerFooter {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    height: fit-content;
    text-align: center;
    gap: 25px;
  }

  .datosPaginaFooter p{
    margin: 0 auto;
  }

  .emailFooter{
    width: 100%;
  }

  .email {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .masInfoFooter {
    text-align: start;
  }
}

@media (max-width: 700px) {
  .masInfoFooter {
    display: none;
  }
}
