/* 
Thin 100
Thin 100 Italic
Regular 400
Bold 700 Italic */

html{
    scroll-behavior: smooth;
}

/* NAVBAR */
.site-nav p{
    font-weight: 400;
    font-family: "Lato";
}

.site-nav{
    z-index: 3;
}

/* HEADER */
.Header__Container{
    height: 100vh;
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("./assets/PQ1.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
}

.Header__Container h1{
    font-weight: 400;
    font-family: "Lato";
    font-size:10vw;
}


/* ABOUT */
.Container_About{
    height: fit-content;
}

.Figure__About{
    width: fit-content;
}

.Container_About h2{
    font-weight: 500;
    font-family: "Lato";
    font-size:10vw;
}

.Main__Col2 p{
    font-weight: 600;
    font-family: "Lato";
    font-size:3.5vh;
    color: black;
}


/* INFO */

.Container__Info{
    height: fit-content;
}

.Container__Info h2{
    font-weight: 500;
    font-family: "Lato";
    font-size:10vw;
}

.Main__Col1 p{
    position: sticky;
    top: 50px;
}

/* FOOTER */

.Container__Footer{
    height: fit-content;
}

.Container__Footer h2{
    font-weight: 500;
    font-family: "Lato";
    font-size:10vw;
}

.Container__Footer img{
    filter: grayscale();
}
